.footer {
    padding: 20px 0 120px;
    @include flex-direction(row);
}
.footer__block {
    width: 25%;
}
.logo_black {
    width: 216px;
    height: 45px;
    background: url(../img/logo_black.png) center no-repeat;
}
.footer__menu {
    margin: 0;
    padding: 0;
}
.footer__list {
    list-style: none;
    margin-bottom: 20px;
}
.footer__list_active {
    .footer__link {
        color: #252525; 
        font-weight: bold;
        opacity: 1;
    }
}
.footer__link {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #333333;
    opacity: 0.8;
}
.footer__phone {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    background: url(../img/line.png) left bottom no-repeat;
    span {
        font-weight: bold;
    }
}
.footer__adress {
    color: #333333;
    opacity: 0.8;
}