.topic__content {
    width: 456px;
    margin: 0 auto;
    .title {
        background: url(../img/line.png) left bottom no-repeat;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
}
.topic__img {
    width: 100%;
}